/* CSS code */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  background: rgb(50, 222, 132);
  background: linear-gradient(
    90deg,
    rgba(50, 222, 132, 0.7204131652661064) 0%,
    rgba(127, 255, 0, 0.7736344537815126) 73%
  );
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 10px;
  text-shadow: rgb(154, 152, 152) 1px 1px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.navbar a:hover {
  background-color: #555;
}

/* Page content styles */
.container {
  margin-top: 40px;
  text-align: center;
  background: rgb(50, 222, 132);
  background: linear-gradient(
    90deg,
    rgba(50, 222, 132, 0.7204131652661064) 0%,
    rgba(127, 255, 0, 0.7736344537815126) 73%
  );
  max-width: 500px;
  max-height: 200px;
  border-radius: 30px;
  margin: 20px auto;
  padding: 20px;
}
